{% extends "core/base.html" %}

{% block content %}
  <h1>Selecionar Criança</h1>
  
  <div class="profile-grid">
    {% for profile in profiles %}
      <div class="profile-card">
        <a href="{% url 'select_profile_and_redirect' profile.id %}">
          <h2>{{ profile.name }}</h2>
        </a>
        <hr style="margin: 10px 0;">
        <a href="{% url 'profile_detail' profile.id %}">Gerir Perfil</a>
      </div>
    {% endfor %}
  </div>
  
  <hr style="margin: 20px 0;">
  <a href="{% url 'profile_create' %}" class="button">Adicionar Novo Perfil</a>
  {% endblock %}