{% extends "core/base.html" %}

{% block content %}
  <h1>Detalhes de {{ profile.name }}</h1>
  
  <ul>
    <li><strong>Nome Completo:</strong> {{ profile.name }}</li>
    <li><strong>Data de Nascimento:</strong> {{ profile.data_nascimento|date:"d/m/Y" }}</li>
    <li><strong>Grau de Autismo:</strong> {{ profile.get_grau_autismo_display }}</li>
    <li><strong>Possui Laudo:</strong> {% if profile.tem_laudo %}Sim{% else %}Não{% endif %}</li>
  </ul>
  
  <hr>
  <a href="{% url 'profile_update' profile.id %}">Editar Perfil</a>
  <a href="{% url 'profile_delete' profile.id %}" style="color: red;">Apagar Perfil</a>
  <br><br>
  <a href="{% url 'profile_select' %}">Voltar para a seleção de perfis</a>
{% endblock %}